@import "../bower_components/foundation/scss/normalize.scss";
@import "../bower_components/foundation/scss/foundation.scss";


body {
    background: #fefefe;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: 200;
}

article p {
    font-weight: 200;
    font-size: 1em;

    &.new {
        background-color: #D6FAC8;
    }

    &::selection {
        background: #fff2a8;
    }
    &::-moz-selection {
        background: #fff2a8;
    }
}

footer {
    font-size: 1.1em;
}

.button-container {
    margin-bottom: 1em;
}

.designer-list {
    display: inline-block;
    list-style-type: none;

    & li {
        display: inline;

        & a {
            margin-right: 5px;

            &.selected {
                background-color: #eee;
            }
        }
    }
}

a {
    //&.add-button,
    //&.designer-changer {
    //    display: inline-block;
    //    width: 49%;
    //}

    &.add-button,
    &.remove-button {
        //margin-right: 1%;
        //text-align: left;
        display: inline-block;
        background-color: #eee;
        text-align: center;
        margin-right: 2px;
        line-height: 0;
        font-size: 1.7em;
        font-weight: 600;
        color: gray;
    }

    &.designer-changer {
        //text-align: left;
        font-size: 1.2em;
        font-weight: 600;
        color: lighten(gray, 20%);
    }
}

.footer-content {
    text-align: center;
    font-size: 0.8em;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

